@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* RESETANDO CONFIG PADRAO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

/* VARIAVEIS DE ESTILOS */
$background-header: #eee;
$texto-sessao: 40px;
$paragrafo-sessao: 14px;
$preco-produto: #b93a3f;
$border-color: #32bcad;
$background-footer: #404040;


/* ESTILOS DO SITE */
header{
    background-color: $background-header;
    padding: 20px 0;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            display: flex;
            align-items: center;

            .logo-img{

                img{
                    width: 50px;
                }

            }

            .nome-site{
                display: flex;
                align-items: baseline;
            }
        }
    
        .menu-desktop{

            ul{
                display: flex;
                list-style: none;
                align-items: center;

                li{
                    a{
                        color: #000;
                        font-size: 18px;
                        margin: 0 40px;
                        font-weight: 300;
                    }:hover{
                        color: #747474;
                        text-decoration: underline;
                    }
                }
            }

            form{
                display: flex;
                align-items: center;

                input[type=text]{
                    width: 250px;
                    border: none;
                    border-bottom: 1px solid #000;
                    background-color: $background-header;
                    margin-left: 50px;
                    outline: none;
                    font-size: 14px;
                    line-height: 21px;
                    padding: 5px 0;
                }::placeholder{
                    color: #8C8C8C;
                }

                button{
                    border: none;
                }
            }
        }

        .cart{
            cursor: pointer;
        }

        .icon-menu{
            width: 40px;
            display: none;
        }

        .fechar-menu{
            width: 40px;
            cursor: pointer;
            margin-bottom: 20px;
        }

        .menu-mobile{
            display: none;
            
            
            ul{
                list-style: none;
                background-color: #fff;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                padding: 50px 20px;

                li{
                    a{
                        color: #000;
                        padding: 10px 0;
                        display: inline-block;
                        font-size: 18px;
                    }
                }
            }

            form{
                display: flex;
                align-items: center;

                input[type=text]{
                    width: 250px;
                    border: none;
                    border-bottom: 1px solid #000;
                    background-color: #fff;
                    margin-top: 30px;
                    outline: none;
                    font-size: 14px;
                    line-height: 21px;
                    
                }::placeholder{
                    color: #8C8C8C;
                }

                button{
                    border: none;
                    background-color: #fff;

                    svg{
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}

main{
    margin: 30px 0;

    .container{
        display: flex;
        justify-content: space-between;

        .mosaico1,
        .mosaico2,
        .mosaico3{
            width: 30.3%;
            border-radius: 8px;
        }

        .mosaico1{
            display: flex;
            flex-direction: column;
            justify-content: left;
            height: 500px;
            overflow: hidden;

            .mosaico1-img{
                overflow: hidden;
                margin-bottom: 20px;
                border-radius: 8px;

                img{
                    width: 100%;
                    transition: transform .9s ease;
                }

            }:hover img{
                transform: scale(1.1);
                cursor: pointer;
            }

            .mosaico1-img2{
                overflow: hidden;
                border-radius: 8px;

                img{
                    width: 100%;
                    transition: transform .9s ease;
                }

            }:hover img{
                transform: scale(1.1);
            }

            
        }

        .mosaico2{
            
            .mosaico2-img{
                overflow: hidden;
                margin-bottom: 20px;
                border-radius: 8px;

                img{
                    width: 100%;
                    height: 500px;
                    transition: transform .9s ease;
                }

            }:hover img{
                transform: scale(1.1);
                cursor: pointer;
            }
        }

        .mosaico3{
            display: flex;
            flex-direction: column;
            justify-content:right;
            height: 500px;
            
            .mosaico3-img{
                overflow: hidden;
                margin-bottom: 20px;
                border-radius: 8px;

                img{
                    width: 100%;
                    transition: transform .9s ease;
                }

            }:hover img{
                transform: scale(1.1);
                cursor: pointer;
            }

            .mosaico3-img2{
                overflow: hidden;
                border-radius: 8px;

                img{
                    width: 100%;
                    transition: transform .9s ease;
                }

            }:hover img{
                transform: scale(1.1);
            }


        }
    }
}

section#sessao-novidades{
    margin: 60px 0;

    .container{
        text-align: center;

        .texto-sessao{
            font-size: $texto-sessao;
        }

        .paragrafo-sessao{
            font-size: $paragrafo-sessao;
            margin-bottom: 100px;
            font-weight: 300;
        }

        .swiper{
            padding: 0 44px;

            .swiper-button-next,
            .swiper-button-prev{
                color: #484848;
                font-weight: bold;
            }

            .swiper-slide{
                h5{
                    font-size: 16px;
                    color: #2e3840;
                    font-weight: 700;
                    padding-bottom: 10px;
                }

                div{
                    display: flex;
                    justify-content: center;
                    gap: 10px;

                    h6{
                        font-size: 14px;
                    }

                    strike{
                        color: #757575;
                    }

                    .preco-antigo{
                        color: #757575;
                    }
                    
                    .preco-atual{
                        color: $preco-produto;
                    }
                }

                p{
                    color: #757575;
                    font-size: 13px;
                }
            }
        }

        
    }
}

footer{
    background-color: $background-footer;
    color: white;
    padding: 50px 0;

    .container{
        display: flex;
        justify-content: space-between;

        .line1{
            background-color: $border-color;
            height: 3px;
            width: 30%;
        }

        .line2{
            background-color: #757575;
            height: 2px;
            width: 70%;
        }

        .atendimento{
            h4{
                padding-bottom: 5px;
            }

            .whatsapp{
                padding: 15px 0;
                font-size: 16px;
            }

            h5{
                font-size: 16px;
                padding-top: 15px;
            }

            p{
                font-size: 14px;
                color: #f6f6f6;
                font-weight: 300;
                line-height: 22px;
            }
        }

        .seguranca{
            h4{
                padding-bottom: 5px;
            }

            .img-seguranca{
                padding-top: 10px;

                img{
                    padding: 0 5px;
                }
            }
        }

        .pagamento{
            h4{
                padding-bottom: 5px;
            }

            .img-pagamento{
                padding-top: 10px;
                padding-right: 5px;
            }
        }
    }
}

/* MIXINS */
$breakpoint-large: 1110px;
$breakpoint-medium: 768px;
$breakpoint-xs: 390px;

@media (max-width: $breakpoint-large){

    .menu-desktop{
        display: none;
    }

    .icon-menu{
        display: block !important;
        cursor: pointer;
    }
}

@media (max-width: $breakpoint-medium){
    main{
        .container{
            flex-direction: column !important;

            .mosaico1{
                flex-direction: row;
                width: 100%;
                height: auto;

                .mosaico1-img{
                    margin-right: 5%;
                }
            }

            .mosaico2{
                width: 100%;
            }

            .mosaico3{
                flex-direction: row;
                width: 100%;
                height: auto;

                .mosaico3-img{
                    margin-right: 5%;
                }
            }
        }
    }

    footer{
        .container{
            flex-direction: column;
            justify-content: center;

            .seguranca{
                margin: 50px 0;
            }
        }
    }
}

@media (max-width: $breakpoint-xs){
    #sessao-novidades{
        .container{
            h2{
                font-size: 29px !important;
            }

            p{
                font-size: 13px !important;
            }

            .swiper{
                padding: 0 !important;
            }
        }
    }
}